*{
   margin: 0%;
   padding: 0%;

}
.navbar{
   /* overflow-y: scroll;
   overflow-x: hidden; */
}
/* .card{
   display: grid;
   grid-template-columns: repeat(1fr 1fr 1fr 1fr );
}
@media screen and (max-width: 720px) {
   .left-nav{
display: none;
width: 300px;
   }

   input{
      width: 50px;
   }
   .card {
   grid-column: 1;
      gap: 2;
   }
}

@media screen and (min-width: 768px) {
   .card {
   grid-column: 1;
      gap: 6;
   }
} */
